# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json

# =========================
# Environment Variables
# =========================
.env
.env.local
.env.production
.env.development

# =========================
# Secret Keys & Credentials
# =========================
serviceAccountKey.json
*.pem
*.key
*.p8
credentials.json

# =========================
# Build / Dist
# =========================
dist/
build/
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Uploads (important for multer)
# =========================
uploads/
temp/
tmp/

# =========================
# IDE
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Coverage
# =========================
coverage/

# =========================
# MongoDB
# =========================
*.bson
*.lock

# =========================
# ngrok
# =========================
ngrok.yml
